@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Components */

@import "./css/nav.css";
@import "./css/loader.css";
@import "./css/home.css";
@import "./css/detail.css";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #000000;
  --color-red: #ff0000;

  /* Font size */
  --font-large: 30px;
  --font-medium: 20px;
  --font-regular: 15px;

  /* Annimation */
  --animation-duration: 300ms;

  /* Size */
  --size-border-radius: 5px;
}

/* Universal */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Typography*/
h1 {
  font-size: var(--font-large);
}

h2 {
  font-size: var(--font-medium);
}

h3 {
  font-size: var(--font-regular);
}

/* Main Container */

.main-container {
  width: 100%;
  background-color: var(--color-light-white);
}
